Belcorp.Presentation.Agent/Service References/ServicioAdministracion/ServicioAdministracion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57978/ServicioAdministracion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" />
  <xs:element name="UnidadListarPaginado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:UnidadPaginacionRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnidadListarPaginadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" minOccurs="0" name="UnidadListarPaginadoResult" nillable="true" type="q2:UnidadPaginacionResponseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" minOccurs="0" name="unidadDto" nillable="true" type="q3:UnidadDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" minOccurs="0" name="RegistrarUnidadResult" nillable="true" type="q4:UnidadDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>