Belcorp.Presentation.Agent/Service References/ServicioAdministracion/ServicioAdministracion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Belcorp.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UnidadPaginacionRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaginacionDto" nillable="true" type="tns:PaginacionDto" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="tns:UnidadDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadPaginacionRequestDto" nillable="true" type="tns:UnidadPaginacionRequestDto" />
  <xs:complexType name="PaginacionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="NroPagina" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TamanioPagina" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginacionDto" nillable="true" type="tns:PaginacionDto" />
  <xs:complexType name="UnidadDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="NombreTipoUnidad" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadDto" nillable="true" type="tns:UnidadDto" />
  <xs:complexType name="UnidadPaginacionResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadResultados" type="xs:int">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ListaUnidad" nillable="true" type="tns:ArrayOfUnidadDto">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnidadPaginacionResponseDto" nillable="true" type="tns:UnidadPaginacionResponseDto" />
  <xs:complexType name="ArrayOfUnidadDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnidadDto" nillable="true" type="tns:UnidadDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnidadDto" nillable="true" type="tns:ArrayOfUnidadDto" />
</xs:schema>